@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --b_dev: 0px; /* border for dev */
    --top_bg-width: 1440;
    --top_bg-height: 735;
    --space: calc(var(--top_bg-width) / 45);
    --width: calc(var(--top_bg-width) * 10 / 12) ;
    --img_w: calc( (var(--width) - 2 * var(--space)) / 3);
    --r: calc(100vw / var(--top_bg-width)); /* resizability */
}

*, *:before, *:after {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    /* apply a natural box layout model to all elements */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:focus {
    outline:none;
    box-shadow: none;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

a { /* all links */    
    text-decoration: none;    
    color: #000000;
    outline-style: none;
}
a:hover {
    text-decoration: underline;
}

img { /* all images */
    width: 100%;
}

.center {
    padding: 0 calc(100vw / 12);
}

.logo {
    border: var(--b_dev) solid #0ff;
    display: flex;
}
.logo a {
    display: flex;
}

.logo a:before {
    font-weight: 600;
    font-size: calc(36 * var(--r));    
    content: "Interior";
}
.logo a:hover {
    text-decoration: none;
}
    
  /* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
  :focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

.link-box {
    border: var(--b_dev) solid #ff0;
    font-size: calc(16 * var(--r));
}
.link-box a {    
    border-bottom: solid calc(1 * var(--r));
    text-decoration: none;
}


/* ----- top ----- */

.top {
    height: calc( var(--top_bg-height) * var(--r));
    background: url(./img/bg/top_bg.png), #C4c4C4;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #FFFFFF;
}

.top a {
    color: #FFFFFF;
}

.top-header-box {
    border: var(--b_dev) solid #ff0;
    padding: calc(16 * var(--r)) 0;
    border-bottom: calc(0.5 * var(--r)) solid rgba(255, 255, 255, 0.8);
    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-search {    
    width: calc(288 * var(--r));
    padding: calc(10.5 * var(--r));
    padding-left: calc(32 * var(--r));
    font-size: calc(16 * var(--r));
    background-color: transparent;
    border: calc(1 * var(--r)) solid #FFFFFF;
    border-radius: calc(20 * var(--r));
    outline: none;
    color: #FFFFFF;
    display: flex;
}
.top-search:focus {
    box-shadow: 0 0 0 calc(1 * var(--r)) #FFFFFF;
}
.top-search::placeholder {    
    color: #FFFFFF;
}

.top-menu {
    border: var(--b_dev) solid #ff0;
    border: var(--b_dev) solid #0f0;
    display: flex;
    gap: calc(32 * var(--r));
    align-items: center;
}
.top-menu a {
    font-size: calc(16 * var(--r));
}

.top-heading {
    border: var(--b_dev) solid #ff0;
    font-weight: 600;
    font-size: calc(64 * var(--r));
    margin-top: calc(64 * var(--r));
}
.top-slogan {
    border: var(--b_dev) solid #ff0;
    font-size: calc(24 * var(--r));
    margin: calc(16 * var(--r)) 0;
}


/* ----- content ----- */

.main {
    border: var(--b_dev) solid #000;
    margin: calc(var(--space) * var(--r)) 0;
    padding-bottom: calc(var(--space) * var(--r));
    
}
.main-block {
    border: var(--b_dev) solid #00f;
    margin: calc(var(--space) * var(--r)) 0;
    display: flex;
    flex-direction: column;
}

.main-block-heading {
    font-weight: 600;
    font-size: calc(48 * var(--r));
    color: #000000;
}

.product-box {
    border: var(--b_dev) solid #0f0;
    margin-top: calc(var(--space) * var(--r));
    display: flex;
    justify-content: space-between;
    row-gap: calc(56 * var(--r));
    flex-wrap: wrap;
}

.product {
    border: var(--b_dev) solid #ff0;
    width: calc(var(--img_w) * var(--r));
}
.product-img {
    padding-bottom: calc(10 * var(--r));
}
.product-caption {
    font-weight: 500;
    font-size: calc(24 * var(--r));
    color: #000000;
    padding-bottom: calc(8 * var(--r));
}
.product-desc {
    font-size: calc(14 * var(--r));
    overflow-wrap: break-word;
    color: #888888;
    margin-bottom: calc(12 * var(--r));
}

.product-price {
    font-weight: 500;
    font-size: calc(24 * var(--r));
    color: #050505;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: calc(32 * var(--r));
}

.product-price span:not(:empty)::before {
    content: '$';
    display: inline-block; /* Avoid text-decoration propagation from span */
    text-decoration-line: none;
}
.product-price-base:not(:empty):after {
    content: '99';
    font-size: 50%;
    vertical-align: top;
}
.product-price-sale:not(:empty)::after {
    content: '97';
    font-size: 50%;
    vertical-align: top;
}

.special .product-price-base {
    color: #888888;
    text-decoration-line: line-through;
}
.catalog .product-price-sale {
    display: none;
}



/* ----- footer ----- */

.footer {
    border: var(--b_dev) solid #f0f;
    margin-top: calc(var(--space) * var(--r));
    padding-top: calc(var(--space) * var(--r));
    background: url(./img/bg/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #888888;
}

.footer .logo {
    align-self: flex-start;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: calc(140 * var(--r));
    font-weight: 500;
    font-size: calc(14 * var(--r));
}

.footer-box-item {
    border: var(--b_dev) solid #0f0;
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--r));
    margin-bottom: calc(var(--space) * var(--r));
}

.footer-heading {
    font-weight: 500;
    font-size: calc(24 * var(--r));
    color: #000000;
}

.footer-icons {
    border: var(--b_dev) solid #ff0;;
    padding-top: calc(4 * var(--r));
    display: flex;
    flex-direction: row;
    gap: calc(16 * var(--r));
}
.footer-icons img {
    height: calc(23 * var(--r));
}
.footer-icons img:hover {
    background: rgba(222, 215, 215, 0.41);
    transform: scale(1.2);
}


.footer-form {
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--r));
    margin-bottom: calc(32 * var(--r));
}
.footer-form-text {
    margin-bottom: calc(4 * var(--r));
    font-size: calc(12 * var(--r));
}

.footer-form-email {
    width: calc(275 * var(--r));
    height: calc(46 * var(--r));
    padding-left: calc(25 * var(--r));
    background: #FFFFFF;
    border: calc(1 * var(--r)) solid #C4C4C4;
    border-radius: calc(20 * var(--r));
    font-size: calc(15 * var(--r));
    outline: none;
}
.footer-form-email:focus {
    box-shadow: 0 0 0 calc(1 * var(--r)) #000;
}
.footer-form-email::placeholder {
    color: #C4C4C4;
}

.footer-form-btn {
    width: calc(275 * var(--r));
    height: calc(46 * var(--r));
    background: rgba(222, 215, 215, 0.41);
    border: calc(1 * var(--r)) solid #FFFFFF;
    border-radius: calc(20 * var(--r));
    font-size: calc(14 * var(--r));
}
.footer-form-btn:hover {
    color: #FFFFFF;
    background: #000;
}