@import "global.css";
@import "bg.css";
@import "top.css";
@import "main.css";
@import "footer.css";


.center { 
    padding-left: calc(100vw / 12); 
    padding-right: calc(100vw / 12); 
}

.logo {
    border: var(--b_dev) solid #ff0;
    display: flex;
}
.logo a {
    display: flex;
}
.logo a:before {
    font-weight: 600;
    font-size: calc(36 * var(--r));
    content: "Interior";
}
.logo a:hover { text-decoration: none; }


.link-box {
    border: var(--b_dev) solid #ff0;
    font-size: calc(16 * var(--r));
}
.link-box a {
    border-bottom: solid calc(1 * var(--r));
    text-decoration: none;
}

.ellipsis::after {
    content: '\2026';
}


.breadcrumb-box {
    padding-bottom: calc(8 * var(--r));
}
.breadcrumb-box li {
    border: none;
    font-size: calc(16 * var(--r));
    display: inline;
}
.breadcrumb-box li:not(:first-of-type)::before {
    content: "/";
    margin: calc(10 * var(--r));
}
.breadcrumb-box a:hover {
    border-bottom: solid calc(1 * var(--r));
    text-decoration: none;
}


.select-box {
    border: calc(1 * var(--r)) solid #C4C4C4;
    border-radius: calc(20 * var(--r));
    padding: calc(10 * var(--r)) 0;
    padding-left: calc(14 * var(--r));
    padding-right: calc(16 * var(--r));
}
.select-box select {
    padding-right: calc(32 * var(--r));
    font-size: calc(16 * var(--r));
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../img/icons/arrow.png) center right no-repeat;
    background-size: calc(20 * var(--r));
}