.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.2222222222vw;
  padding-top: 2.2222222222vw;
}

.cart-box {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
}
.cart-box-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.9722222222vw;
  border-bottom: 0.0347222222vw solid #CACDD8;
}

.cart-item {
  padding-top: 1.7361111111vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-item-content {
  display: flex;
  gap: 2.2222222222vw;
}
.cart-item-img {
  width: 12.0138888889vw;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 1.1111111111vw;
}
.cart-item-title {
  font-weight: 500;
  font-size: 1.6666666667vw;
}
.cart-item-desc {
  font-size: 0.9722222222vw;
  width: 19.1666666667vw;
}
.cart-item-price {
  font-weight: 500;
  font-size: 1.1111111111vw;
}
.cart-item-action-links {
  font-size: 0.9722222222vw;
  display: flex;
  gap: 2.2222222222vw;
}
.cart-item-quantity {
  width: 4.8611111111vw;
  border-radius: 0.4166666667vw;
  background-color: #F7F6F6;
  padding: 0.8333333333vw 0;
  padding-right: 1.6666666667vw;
}
.cart-item-quantity input {
  border: none;
  background-color: #F7F6F6;
  width: 3.2638888889vw;
  font-weight: 600;
  font-size: 0.9722222222vw;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.cart-item-quantity input::-webkit-inner-spin-button, .cart-item-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkout {
  background-color: #F7F6F6;
  border-radius: 1.3888888889vw;
  height: 38.6111111111vw;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
}

.checkout-title {
  margin-top: 2.7777777778vw;
  margin-bottom: 2.2222222222vw;
  font-weight: 600;
  font-size: 1.6666666667vw;
  text-align: center;
}

.checkout input {
  border: none;
  border-bottom: 0.0694444444vw solid #CACDD8;
  padding: 0.2777777778vw 0vw;
  margin-left: 1.9444444444vw;
  margin-right: 4.4444444444vw;
  margin-bottom: 2.7777777778vw;
  background-color: #F7F6F6;
  font-size: 0.9722222222vw;
}

.checkout-total {
  margin-top: 1.6666666667vw;
  font-size: 1.6666666667vw;
  text-align: center;
}

.checkout-total::before {
  letter-spacing: 0.1388888889vw;
  content: "Total: $";
}

.checkout button {
  border: 0.0694444444vw solid #000;
  border-radius: 1.3888888889vw;
  margin-top: 1.25vw;
  padding: 0.6944444444vw 4.4444444444vw;
  font-size: 1.1111111111vw;
  align-self: center;
  text-align: center;
}

.checkout button:hover {
  background-color: #CCC;
}