.main {
    border: var(--b_dev) solid #000;
    margin: calc(var(--gap) * var(--r)) 0;
    padding-bottom: calc(var(--gap) * var(--r));
}

.main-block {
    border: var(--b_dev) solid #00f;
    margin: calc(var(--gap) * var(--r)) 0;
    display: flex;
    flex-direction: column;
}

.main-header {
    border: var(--b_dev) solid #00f;
    font-size: calc(16 * var(--r));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(var(--gap) * var(--r)) 0;
}

.main-block-title {
    padding: calc(var(--gap) * var(--r)) 0;
    font-weight: 600;
    font-size: calc(48 * var(--r));
    color: #000000;
}