.top {
    color: #FFFFFF;
}

.top a {
    color: #FFFFFF;
}

.top-header-box {
    border: var(--b_dev) solid #ff0;
    padding: calc(16 * var(--r)) 0;
    border-bottom: calc(0.5 * var(--r)) solid rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-search {
    width: calc(288 * var(--r));
    padding: calc(10.5 * var(--r));
    padding-left: calc(32 * var(--r));
    font-size: calc(16 * var(--r));
    background-color: transparent;
    border: calc(1 * var(--r)) solid #FFFFFF;
    border-radius: calc(20 * var(--r));
    outline: none;
    color: #FFFFFF;
    display: flex;
}
.top-search:focus {
    box-shadow: 0 0 0 calc(1 * var(--r)) #FFFFFF;
}
.top-search::placeholder {
    color: #FFFFFF;
}

.top-menu {
    border: var(--b_dev) solid #ff0;
    border: var(--b_dev) solid #0f0;
    display: flex;
    gap: calc(32 * var(--r));
    align-items: center;
}
.top-menu a {
    font-size: calc(16 * var(--r));
}

.top-title {
    border: var(--b_dev) solid #ff0;
    font-weight: 600;
    font-size: calc(64 * var(--r));
    margin-top: calc(64 * var(--r));
}

.top-slogan {
    border: var(--b_dev) solid #ff0;
    font-size: calc(24 * var(--r));
    margin: calc(16 * var(--r)) 0;
}