.footer {
    border: var(--b_dev) solid #f0f;
    margin-top: calc(var(--gap) * var(--r));
    padding-top: calc(var(--gap) * var(--r));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #888888;
}

.footer .logo {
    align-self: flex-start;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: calc(140 * var(--r));
    font-weight: 500;
    font-size: calc(14 * var(--r));
}

.footer-box-item {
    border: var(--b_dev) solid #0f0;
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--r));
    margin-bottom: calc(var(--gap) * var(--r));
}

.footer-title {
    font-weight: 500;
    font-size: calc(24 * var(--r));
    color: #000000;
}

.footer-icons {
    border: var(--b_dev) solid #ff0;;
    padding-top: calc(4 * var(--r));
    display: flex;
    flex-direction: row;
    gap: calc(16 * var(--r));
}
.footer-icons img {
    height: calc(23 * var(--r));
}
.footer-icons img:hover {
    background: rgba(222, 215, 215, 0.41);
    transform: scale(1.2);
}

.footer-form {
    border: var(--b_dev) solid #0f0;
    min-width: calc(275 * var(--r));
    display: flex;
    flex-direction: column;
    gap: calc(12 * var(--r));
    margin-bottom: calc(32 * var(--r));
}
.footer-form-text {
    border: var(--b_dev) solid #ff0;
    letter-spacing: calc(3 * var(--r));
    margin-bottom: calc(4 * var(--r));
    font-size: calc(12 * var(--r));
}

.footer-form-email {
    padding: calc(12 * var(--r)) 0;
    padding-left: calc(25 * var(--r));
    background: #FFFFFF;
    border: calc(1 * var(--r)) solid #C4C4C4;
    border-radius: calc(20 * var(--r));
    font-size: calc(15 * var(--r));
    outline: none;
}
.footer-form-email:focus {
    box-shadow: 0 0 0 calc(1 * var(--r)) #000;
}
.footer-form-email::placeholder {
    color: #C4C4C4;
}

.footer-form-btn {
    padding: calc(12 * var(--r));
    background: rgba(222, 215, 215, 0.41);
    border: calc(1 * var(--r)) solid #FFFFFF;
    border-radius: calc(20 * var(--r));
    font-size: calc(14 * var(--r));
    text-align: center;
}
.footer-form-btn:hover {
    color: #FFFFFF;
    background: #000;
}