@import '_vars';

.bg {
    &-top {
        &-home {
            background: url(../../img/bg/top/bg-top-home.jpg) top center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/top/bg-top-home-s.jpg) top center / cover no-repeat;
            }
        }

        &-catalog {
            background: url(../../img/bg/top/bg-top-catalog.jpg) top center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/top/bg-top-catalog-s.jpg) top center / cover no-repeat;
            }
        }

        &-cart {
            background: url(../../img/bg/top/bg-top-cart.jpg) top center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/top/bg-top-cart-s.jpg) top center / cover no-repeat;
            }
        }
    }

    &-for {
        &-rest {
            background: url(../../img/bg/for/bg-for-rest.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/for/bg-for-rest-s.jpg) center / cover no-repeat;
            }
        }

        &-work {
            background: url(../../img/bg/for/bg-for-work.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/for/bg-for-work-s.jpg) center / cover no-repeat;
            }
        }

        &-kitchen {
            background: url(../../img/bg/for/bg-for-kitchen.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/for/bg-for-kitchen-s.jpg) center / cover no-repeat;
            }
        }

        &-children {
            background: url(../../img/bg/for/bg-for-children.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/for/bg-for-children-s.jpg) center / cover no-repeat;
            }
        }

        &-bath {
            background: url(../../img/bg/for/bg-for-bath.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/for/bg-for-bath-s.jpg) center / cover no-repeat;
            }
        }
    }

    &-select {
        background: url(../../img/icons/arrows/arrow_bottom.png) center right no-repeat;
    }

    &-footer {
        background: url(../../img/bg/footer/bg-footer.jpg) top center / cover;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/footer/bg-footer-s.jpg) center / cover no-repeat;
        }
    }
}