@import '_vars';

.top {
    &-home-bg {
        height: 735*$r;
        background: url(../../img/bg/top/top-home-bg.png) top center / cover no-repeat;
    }

    &-catalog-bg {
        height: 400*$r;
        background: url(../../img/bg/top/top-catalog-bg.png) top center / cover no-repeat;
    }

    &-cart-bg {
        height: 400*$r;
        background: url(../../img/bg/top/top-cart-bg.jpg) top center / cover no-repeat;
    }
}


.for {
    &-rest-bg {
        background: url(../../img/bg/for/for-rest-bg.png) center / cover no-repeat;
    }

    &-work-bg {
        background: url(../../img/bg/for/for-work-bg.png) center / cover no-repeat;
    }

    &-kitchen-bg {
        background: url(../../img/bg/for/for-kitchen-bg.png) center / cover no-repeat;
    }

    &-children-bg {
        background: url(../../img/bg/for/for-children-bg.png) center / cover no-repeat;
    }

    &-bath-bg {
        background: url(../../img/bg/for/for-bath-bg.png) center / cover no-repeat;
    }
}


.footer-bg {
    background: url(../../img/bg/footer-bg.png) top center / cover;
}