@import '_vars';

.footer {
    padding-top: 32*$r;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #888;

    @media screen and (max-width: $mobile) {
        padding-top: 32*$m;
        row-gap: 32*$m;
        justify-content: center;
    }

    & .logo {
        display: flex;

        @media screen and (max-width: $mobile) {
            display: none;
        }
    }

    &-box {
        font-weight: 500;
        display: flex;
        font-size: 14*$r;
        gap: 130*$r;

        @media screen and (max-width: $mobile) {
            font-size: 14*$m;
            gap: 100*$m;
            width: 100%;
            justify-content: flex-start;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 12*$r;

        @media screen and (max-width: $mobile) {
            gap: 12*$m;
        }

        &-title {
            font-size: 24*$r;
            font-weight: 500;
            color: #000000;

            @media screen and (max-width: $mobile) {
                font-size: 24*$m;
            }
        }
    }

    &-icons {
        display: flex;
        align-items: center;
        gap: 20*$r;

        @media screen and (max-width: $mobile) {
            gap: 20*$m;
        }

        & a {
            height: 23*$r;

            @media screen and (max-width: $mobile) {
                height: 23*$m;
            }
        }

        & img {
            height: 100%;
        }

        & img:hover {
            background: rgba(222, 215, 215, 0.41);
            transform: scale(1.1);
        }
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    width: 270*$r;
    gap: 12*$r;

    @media screen and (max-width: $mobile) {
        width: 270*$m;
        gap: 12*$m
    }

    &-text {
        font-size: 14*$r;
        margin-bottom: 4*$r;

        @media screen and (max-width: $mobile) {
            margin-bottom: 4*$m;
            font-size: 12*$m;
        }
    }

    &-email {
        border: 1*$r solid #C4C4C4;
        border-radius: 20*$r;
        font-size: 15*$r;
        padding: 12*$r 0;
        padding-left: 24*$r;
        outline: none;
        border-style: solid;
        background: #FFFFFF;

        @media screen and (max-width: $mobile) {
            border: 1*$m solid #C4C4C4;
            border-radius: 20*$m;
            font-size: 15*$m;
            padding: 12*$m 0;
            padding-left: 24*$m;
        }
    }

    &-email:focus {
        box-shadow: 0 0 0 1*$r;

        @media screen and (max-width: $mobile) {
            box-shadow: 0 0 0 1*$m;
        }
    }

    &-email::placeholder {
        color: #C4C4C4;
    }

    &-btn {
        padding-top: 12*$r;
        padding-bottom: 12*$r;
        border: 1*$r solid #fff;
        border-radius: 20*$r;
        font-size: 14*$r;
        text-align: center;
        background-color: rgba(222, 215, 215, 0.41);

        @media screen and (max-width: $mobile) {
            padding-top: 12*$m;
            padding-bottom: 12*$m;
            border: 1*$m solid #fff;
            border-radius: 20*$m;
            font-size: 14*$m;
        }
    }
}