@import '_vars';


.body_blocks {
    display: flex;
    flex-direction: column;
    gap: 64*$r;

    @media screen and (max-width: $mobile) {
        gap: 32*$m;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 64*$r;

    @media screen and (max-width: $mobile) {
        gap: 32*$m;
    }

    &-header {
        font-size: 16*$r;
        row-gap: 16*$r;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            font-size: 14*$m;
            row-gap: 16*$m;
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
        gap: 32*$r;

        @media screen and (max-width: $mobile) {
            gap: 32*$m;
        }

        &-title {
            font-size: 48*$r;
            font-weight: 600;
            color: #000000;

            @media screen and (max-width: $mobile) {
                font-size: 24*$m;
            }
        }
    }
}