@import '_vars';

.for {
    &-box {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: $gap*$r;
    }

    &-item {
        border: $b_dev solid #ff0;
        height: 415*$r;
        font-weight: 600;
        font-size: 34*$r;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 4;
    }

    &-big {
        grid-column: span 6;
    }
}


.product-box {
    border: $b_dev solid #0f0;
    display: flex;
    justify-content: space-between;
    row-gap: 56*$r;
    flex-wrap: wrap;
}

.product {
    border: $b_dev solid #ff0;
    width: $width-product * $r;
    display: flex;
    flex-direction: column;
    row-gap: 8*$r;

    &-caption {
        padding-top: 2*$r;
        font-weight: 500;
        font-size: 24*$r;
        color: #000000;
    }

    &-desc {
        font-size: 14*$r;
        overflow-wrap: break-word;
        color: #888888;
    }

    &-price {
        padding-top: 4*$r;
        font-weight: 500;
        font-size: 24*$r;
        color: #050505;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: $gap*$r;
    }

    &-price span:not(:empty)::before {
        content: '$';
        display: inline-block;
        // avoid text-decoration propagation from span
        text-decoration-line: none;
    }

    &-price-base:not(:empty):after {
        content: '99';
        font-size: 50%;
        vertical-align: top;
    }

    &-price-sale:not(:empty)::after {
        content: '97';
        font-size: 50%;
        vertical-align: top;
    }
}

.special .product-price-base {
    color: #888888;
    text-decoration-line: line-through;
}

.catalog .product-price-sale {
    display: none;
}