@import '_vars';


.top {
    height: 400*$r;
    gap: 64*$r;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: $mobile) {
        height: 400*$m;
        gap: 32*$m;
        text-align: center;
    }

    &-size {
        &-home {
            height: 735*$r;

            @media screen and (max-width: $mobile) {
                height: 735*$m;
            }
        }
    }

    & a {
        color: #fff;
    }

    &-header {
        border-bottom: .5*$r solid #fff;
        padding: 16*$r 0;
        row-gap: 16*$r;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;

        @media screen and (max-width: $mobile) {
            margin-top: 32*$m;
            padding: 16*$m 0;
            row-gap: 16*$m;
            border-bottom: none;
        }
    }

    &-search {
        font-size: 16*$r;
        padding: 10*$r;
        padding-left: 32*$r;
        border-radius: 20*$r;
        border: 1*$r solid #fff;
        color: #fff;
        background-color: transparent;
        outline: none;

        @media screen and (max-width: $mobile) {
            display: none;
        }

        &::placeholder {
            color: #fff;
        }

        &:focus {
            box-shadow: 0 0 0 1*$r;
        }
    }

    &-menu {
        font-size: 16*$r;
        gap: 32*$r;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: $mobile) {
            display: none;
        }

        & a {
            display: flex;
        }
    }

    &-menu-m {
        display: none;

        @media screen and (max-width: ($mobile)) {
            padding: 4*$m 0;
            gap: 32*$m;
            display: flex;
            align-items: center;

            & img {
                display: flex;
                max-height: 19*$m;
            }
        }


    }

    &-box {
        gap: 16*$r;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: $mobile) {
            gap: 16*$m;
            align-items: center;
            align-self: center;
        }
    }

    &-center {
        position: absolute;
        z-index: 0;
        height: 100%;

    }

    &-title {
        font-size: 64*$r;
        font-weight: 600;

        @media screen and (max-width: $mobile) {
            font-size: 48*$m;
        }
    }

    &-slogan {
        font-size: 24*$r;

        @media screen and (max-width: $mobile) {
            font-size: 16*$m;
        }
    }
}