$b-dev: 0px; // border for dev purposes    
$gap: 32;
$width: 1440;
$width-site: calc($width / 12) * 10;
$width-product: calc(($width-site - 2 * $gap) / 3);
$padding: calc(100vw / 12);
$r: calc(100vw / $width); // resizability