@import 'vars';
@import 'global';
@import 'bg';
@import 'top';
@import 'main';
@import 'footer';
@import 'products';

.center {
    padding-left: 120*$r;
    padding-right: 120*$r;

    @media screen and (max-width: $mobile) {
        padding-left: 16*$m;
        padding-right: 16*$m;
    }
}

.logo {
    display: flex;

    & a {
        display: flex;
    }

    & a:before {
        font-weight: 600;
        font-size: 36*$r;
        content: "Interior";

        @media screen and (max-width: $mobile) {
            font-size: 18*$m;
        }
    }

    & a:hover {
        text-decoration: none;
    }
}

.link-box {
    font-size: 16*$r;


    @media screen and (max-width: $mobile) {
        font-size: 14*$m;
    }

    & a {
        border-bottom: 1*$r solid;
        text-decoration: none;

        @media screen and (max-width: $mobile) {
            border-bottom: 1*$m solid;
        }
    }
}

.breadcrumb-box {
    & li {
        font-size: 16*$r;
        border: none;
        display: inline;

        @media screen and (max-width: $mobile) {
            font-size: 14*$m;
        }
    }

    & li:not(:first-of-type)::before {
        margin: 0 10*$r;
        content: "/";

        @media screen and (max-width: $mobile) {
            margin: 0 10*$m;
        }
    }

    & a {
        display: inline-block;
        transition: transform 0.3s linear, box-shadow 0.3;

        &:hover {
            border-bottom: 1*$r solid;
            box-shadow: 0 0 5*$r #ccc;
            text-decoration: none;
            font-weight: bold;
            transform: scale(1.05);

            @media screen and (max-width: $mobile) {
                border-bottom: 1*$m solid;
                box-shadow: 0 0 5*$m #ccc;
            }
        }
    }
}

.select-box {
    padding: 10*$r 14*$r;
    border: 1*$r solid #C4C4C4;
    border-radius: 20*$r;
    width: fit-content;

    @media screen and (max-width: $mobile) {
        padding: 10*$m 14*$m;
        border: 1*$m solid #C4C4C4;
        border-radius: 20*$m;
    }

    & select {
        font-size: 16*$r;
        background-size: 18*$r auto;
        border: none;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        @media screen and (max-width: $mobile) {
            font-size: 16*$m;
            background-size: 18*$m auto;
        }
    }
}

.ellipsis::after {
    content: '\2026';
}

.btn {
    transition: background-color 0.3s ease-in-out, color;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}