@import 'vars';

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap*$r;
    padding-top: $gap*$r;
}

.cart-box {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    gap: 16*$r;

    &-header {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16*$r;
    }

    &-items {
        display: flex;
        flex-direction: column;
        gap: 32*$r;
    }

    &-actions {
        margin-top: 50*$r;
        display: flex;
        gap: 8*$r;
    }

    &-actions button {
        font-size: 24*$r;
        padding: 10*$r 32*$r;
        border-radius: 28*$r;
    }
}

.cart-item {
    border-top: 0.5*$r solid #CACDD8;
    padding-top: $gap*$r;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-content {
        display: flex;
        align-items: flex-start;
        gap: $gap*$r;
    }

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 173*$r;
    }

    &-img {
        width: 173*$r;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 16*$r;
    }

    &-title {
        font-weight: 500;
        font-size: 24*$r;
    }

    &-desc {
        font-size: 14*$r;
        width: 276*$r;
    }

    &-price {
        font-weight: 500;
        font-size: 16*$r;
    }

    &-action-links {
        margin-top: 16*$r;
        margin-bottom: 8*$r;
        font-size: 14*$r;
        text-decoration: underline;
        display: flex;
        flex-direction: row;
        gap: $gap*$r;
    }

    &-quantity {
        width: 70*$r;
        border-radius: 6*$r;
        background-color: #F7F6F6;
        padding: 12*$r 0;
        padding-right: 24*$r;
    }

    &-quantity input {
        border: none;
        background-color: #F7F6F6;
        width: 47*$r;
        font-weight: 600;
        font-size: 14*$r;
        text-align: center;
        display: flex;
        align-items: flex-start;
    }

    &-quantity input::-webkit-inner-spin-button {
        //opacity: 1;
        -webkit-appearance: none;
        margin: 0;
    }
}

.checkout {
    background-color: #F7F6F6;
    border-radius: 20*$r;
    height: 556*$r;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
}

.checkout-title {
    margin-top: 40*$r;
    margin-bottom: 32*$r;
    font-weight: 600;
    font-size: 24*$r;
    text-align: center;
}

.checkout input {
    border: none;
    border-bottom: 1*$r solid #CACDD8;
    padding: 4*$r 0*$r;
    margin-left: 28*$r;
    margin-right: 64*$r;
    margin-bottom: 40*$r;
    background-color: #F7F6F6;
    font-size: 14*$r;
}

.checkout-total {
    margin-top: 24*$r;
    font-size: 24*$r;
    text-align: center;
}

.checkout-total::before {
    letter-spacing: 2*$r;
    content: 'Total: $';
}

.checkout button {
    border-radius: 20*$r;
    margin-top: 18*$r;
    padding: 10*$r 64*$r;
    font-size: 16*$r;
    align-self: center;
    text-align: center;
}