@import '_vars';

.cart {
    &-body {
        display: flex;
        flex-direction: column;
        gap: 64*$r;

        @media screen and (max-width: $mobile) {
            gap: 32*$m;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        gap: 64*$r;

        @media screen and (max-width: $mobile) {
            gap: 48*$m;
        }
    }

    &-block {
        padding-top: 32*$r;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 32*$r;
        grid-row-gap: 48*$r;


        @media screen and (max-width: $mobile) {
            padding-top: 64*$m;
            grid-template-columns: repeat(4, 3fr);
            grid-column-gap: 32*$m;
            grid-row-gap: 48*$m;
        }
    }

    &-box {
        grid-column: span 8;

        @media screen and (max-width: $mobile) {
            grid-column: span 4;
        }

        &-header {
            font-size: 16*$r;
            padding-bottom: 14*$r;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $mobile) {
                display: none;
                font-size: 16*$m;
                padding-bottom: 14*$m;
            }
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 32*$r;

            @media screen and (max-width: $mobile) {
                gap: 24*$m;
            }
        }

        &-actions {
            display: flex;
            column-gap: 8*$r;

            @media screen and (max-width: $mobile) {
                gap: 14*$m;
            }

            & .btn {
                font-size: 14*$r;
                border-radius: 50*$r;
                height: fit-content;

                @media screen and (max-width: $mobile) {
                    font-size: 12*$m;
                    border-radius: 50*$m;
                }

                &-clear {
                    padding: 10*$r 32*$r;

                    @media screen and (max-width: $mobile) {
                        padding: 10*$m 25*$m;
                    }
                }

                &-continue {
                    padding: 10*$r 20*$r;

                    @media screen and (max-width: $mobile) {
                        padding: 10*$m 20*$m;
                    }
                }
            }
        }
    }

    &-offers {
        display: flex;
        flex-direction: column;
        gap: 32*$r;

        @media screen and (max-width: $mobile) {
            gap: 32*$m;
        }
    }
}

.cart-item {
    border-top: 0.5*$r solid #CACDD8;
    padding-top: 32*$r;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $mobile) {
        border-top: 0.5*$m solid #CACDD8;
        padding-top: 18*$m;
    }

    &-content {
        display: flex;
        align-items: flex-start;
        column-gap: 32*$r;

        @media screen and (max-width: $mobile) {
            column-gap: 32*$m;
        }
    }

    &-block {
        width: 276*$r;
        row-gap: 16*$r;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $mobile) {
            row-gap: 16*$m;
            width: 253*$m;
        }
    }

    &-img {
        display: flex;
        width: 173*$r;

        @media screen and (max-width: $mobile) {
            display: none;
            width: 173*$m;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 16*$r;

        @media screen and (max-width: $mobile) {
            gap: 16*$m;
        }
    }

    &-title {
        font-size: 24*$r;
        font-weight: 500;

        @media screen and (max-width: $mobile) {
            font-size: 18*$m;
        }
    }

    &-desc {
        font-size: 14*$r;
        color: #888;

        @media screen and (max-width: $mobile) {
            font-size: 14*$m;
        }
    }

    &-price {
        font-size: 16*$r;
        font-weight: 500;
        color: #050505;

        @media screen and (max-width: $mobile) {
            font-size: 16*$m;
        }
    }

    &-action-links {
        font-size: 14*$r;
        gap: 32*$r;
        display: flex;
        text-decoration: underline;

        @media screen and (max-width: $mobile) {
            font-size: 14*$m;
            gap: 32*$m;
        }
    }

    &-quantity {
        width: 70*$r;
        padding: 12*$r 0;
        border-radius: 6*$r;
        background-color: #F7F6F6;

        @media screen and (max-width: $mobile) {
            width: 70*$m;
            padding: 12*$m 0;
            border-radius: 6*$m;
        }

        & input {
            font-size: 14*$r;
            height: 27*$r;
            width: 100%;
            color: #000;
            font-weight: 600;
            background-color: inherit;
            border: none;
            text-align: center;
            display: flex;
            align-items: flex-start;

            @media screen and (max-width: $mobile) {
                font-size: 14*$m;
                height: 27*$m;
            }

            &::-webkit-inner-spin-button {
                opacity: 1;
                //-webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.checkout {
    padding: 42*$r 27*$r 0;
    border-radius: 20*$r;
    background-color: #F7F6F6;
    grid-column: span 4;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
        padding: 42*$m 27*$m 0;
        border-radius: 20*$m;
    }

    &-title {
        font-size: 24*$r;
        font-weight: 600;
        text-align: center;

        @media screen and (max-width: $mobile) {
            font-size: 24*$m;
        }
    }

    &-inputs {
        margin: 35*$r 0 64*$r 0;
        row-gap: 44*$r;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $mobile) {
            margin: 35*$m 0 64*$m 0;
            row-gap: 44*$m;
        }
    }

    & input {
        border: none;
        border-bottom: 1*$r solid #CACDD8;
        font-size: 14*$r;
        padding-bottom: 4*$r;
        background-color: #F7F6F6;

        @media screen and (max-width: $mobile) {
            border: none;
            border-bottom: 1*$m solid #CACDD8;
            font-size: 14*$m;
            padding-bottom: 4*$m;
        }
    }

    &-total {
        font-size: 24*$r;
        text-align: center;

        @media screen and (max-width: $mobile) {
            font-size: 24*$m;
        }

        &::before {
            letter-spacing: 2*$r;
            content: 'Total: $';

            @media screen and (max-width: $mobile) {
                letter-spacing: 2*$m;
            }
        }
    }

    & button {
        font-size: 16*$r;
        margin-top: 18*$r;
        padding: 10*$r 0;
        border-radius: 20*$r;
        width: 100%;
        align-self: center;
        text-align: center;

        @media screen and (max-width: $mobile) {
            font-size: 16*$m;
            margin-top: 18*$m;
            padding: 10*$m 0;
            border-radius: 20*$m;
        }
    }
}