@import 'vars';

.footer {
    border: $b_dev solid #f0f;
    margin-top: $gap*$r;
    padding-top: $gap*$r;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #888888;
}

.footer .logo {
    align-self: flex-start;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 140*$r;
    font-weight: 500;
    font-size: 14*$r;
}

.footer-box-item {
    border: $b_dev solid #0f0;
    display: flex;
    flex-direction: column;
    gap: 12*$r;
    margin-bottom: $gap*$r;
}

.footer-title {
    font-weight: 500;
    font-size: 24*$r;
    color: #000000;
}

.footer-icons {
    border: $b_dev solid #ff0;
    ;
    padding-top: 4*$r;
    display: flex;
    flex-direction: row;
    gap: 16*$r;
}

.footer-icons img {
    height: 23*$r;
}

.footer-icons img:hover {
    background: rgba(222, 215, 215, 0.41);
    transform: scale(1.2);
}

.footer-form {
    border: $b_dev solid #0f0;
    min-width: 275*$r;
    display: flex;
    flex-direction: column;
    gap: 12*$r;
    margin-bottom: 32*$r;
}

.footer-form-text {
    border: $b_dev solid #ff0;
    letter-spacing: 3*$r;
    margin-bottom: 4*$r;
    font-size: 12*$r;
}

.footer-form-email {
    padding: 12*$r 0;
    padding-left: 25*$r;
    background: #FFFFFF;
    border: 1*$r solid #C4C4C4;
    border-radius: 20*$r;
    font-size: 15*$r;
    outline: none;
}

.footer-form-email:focus {
    box-shadow: 0 0 0 1*$r #000;
}

.footer-form-email::placeholder {
    color: #C4C4C4;
}

.footer-form-btn {
    padding: 12*$r;
    background: rgba(222, 215, 215, 0.41);
    border: 1*$r solid #FFFFFF;
    border-radius: 20*$r;
    font-size: 14*$r;
    text-align: center;
}