$b-dev: 0px; // border for dev purposes    
$gap: 32;
$width: 1440;
$width-site: $width / 12 * 10;
$width-product: (
    $width-site - 2*$gap ) / 3;
$padding: 100vw / 12;
$r: 100vw / $width; // resizability